.nav-bar,
#principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  justify-content: space-evenly;
  background: linear-gradient(
    90deg,
    rgb(48, 51, 54) 0%,
    rgb(78, 14, 80) 100%
  );
}
#principal {
  width: 20%;
  height: 100%;
  box-shadow: 2px 6px 2px grey;
  padding-top: 2%;
  border-radius: 0 10px;
}
.nav-bar {
  height: 100%;
  width: 100%;
}
h4 {
  text-align: center;
  opacity: 0.7;
  
}
button {
  cursor: pointer;
  border: none;
  font-weight: bold;
  color: rgb(78, 14, 80);
  padding: 4% 10%;
  border-radius: 9px;
  background: linear-gradient(
    90deg,
    rgb(238, 241, 245) 0%,
    rgb(255, 255, 255) 100%
  );
}
a{
  text-decoration: none;
  width: 100%;
  padding: 0 30%;
  text-align: center;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content:space-evenly;
  color: white;
  font-weight: bold;
}
